* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.auth-required {
    margin: 16px;
    text-align: center;
    text-transform: uppercase;
}

.page-content {
    width: 100%;
    align-self: center;
}

.un-show{
    display: none;
}

/* buttons */

.btn-submit {
    font-size: 16px;
    border: 1px solid #2e8b57;
    border-radius: 4px;
    color: #2e8b57;
    padding: 8px;
    background-color: inherit;
}

.submit-neg{
    color: #fff;
    background-color: #2e8b57;
}

.submit-neg:hover{
    color: #2e8b57;
    background-color: #fff;
}


.btn-submit:hover {
    color: #fff;
    background-color: #2e8b57;
}

.btn-delete {
    font-size: 16px;
    border: 1px solid indianred;
    border-radius: 4px;
    color: indianred;
    padding: 8px;
    background-color: inherit;
}

.delete-neg{
    color: #fff;
    background-color: indianred;
}

.delete-neg:hover{
    color: indianred;
    background-color: #fff;
}

.btn-delete:hover {
    color: #fff;
    background-color: indianred;
}

.btn-bg{
    padding: 10px;
}


/* table */

.table{
    margin-top: 2px;
    min-width: 60%;
    border: 2px solid dimgray;
    border-collapse: collapse;
}

.table thead{
    background-color: #2e8b5750;
}

.table tr{
    border: 2px solid dimgray;
}

.table td, .table th {
    padding: 4px;
}

.table td {
}
.table tbody tr:hover {
    background-color: #dddddd;
}

/* current */
.planned {
    position: fixed;
    margin-top: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-height: 190px;
    overflow: auto;
    background-color: #fff;
}

.current{
    margin-top: 230px;
    margin-left: 6px;
    width: 99%;
}
