* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

input[type=checkbox] {
    accent-color: #293d32;
}

input[type=radio] {
    accent-color: #293d32;
}

.auth-required {
    margin: 80px;
    text-align: center;
    text-transform: uppercase;
}

.page-content {
    width: 100%;
    align-self: center;
}

.un-show {
    display: none;
}

/* buttons */

.btn-submit {
    font-size: 16px;
    border: 1px solid #293d32;
    border-radius: 4px;
    color: #293d32;
    padding: 8px;
    background-color: inherit;
    margin-left: 4px;
    margin-right: 4px;
}

.submit-neg {
    color: #fff;
    background-color: #293d32;
}

.btn-submit:hover {
    color: #fff;
    background-color: #293d32;
}

.submit-neg:hover {
    color: #293d32;
    background-color: inherit;
}


.btn-delete {
    font-size: 16px;
    border: 1px solid indianred;
    border-radius: 4px;
    color: indianred;
    padding: 8px;
    background-color: inherit;
    margin-left: 4px;
    margin-right: 4px;
}

.delete-neg {
    color: #fff;
    background-color: indianred;
}

.btn-delete:hover {
    color: #fff;
    background-color: indianred;
}

.delete-neg:hover {
    color: indianred;
    background-color: inherit;
}

.btn-neutral {
    font-size: 16px;
    border: 1px solid #86A0AC;
    border-radius: 4px;
    color: #86A0AC;
    padding: 8px;
    background-color: inherit;
    margin-left: 4px;
    margin-right: 4px;
}

.neutral-neg {
    color: #fff;
    background-color: #86A0AC;
}

.btn-neutral:hover {
    color: #fff;
    background-color: #86A0AC;
}

.neutral-neg:hover {
    color: #86A0AC;
    background-color: inherit;
}


.btn-bg {
    padding: 10px;
}

/* title for icon*/
.title-icon {
    position: relative;
}

.title-icon:hover:after {
    content: attr(data-title);
    position: absolute;
    left: -20%;
    top: 80%; /* Положение подсказки */
    padding: 2px 4px; /* Поля */
    z-index: 1;
    font: inherit;
    color: inherit;
    background-color: #fff;
    border: 1px solid;
    border-radius: 2px;
}

.title-icon-big {
    position: relative;
}

.title-icon-big:hover:after {
    content: attr(data-title);
    position: absolute;
    left: -120%;
    top: 80%; /* Положение подсказки */
    padding: 2px 4px; /* Поля */
    z-index: 1;
    font: inherit;
    color: inherit;
    background-color: #fff;
    border: 1px solid;
    border-radius: 2px;
    width: 200px;
}

/* table */

.table {
    width: 100%;
    border: 2px solid dimgray;
    border-collapse: collapse;
}

.table-print{
    margin: 10px 4px;
    font-size: 20px;
}


.table thead {
    text-align: left;
    background-color: #a4c1b1;
}

.table-print thead{
    text-align: center;
}

.table tr {
    border: 2px solid dimgray;
}

.table td, .table th {
    padding: 4px;
}

.td-end {
    text-align: right;
}

.table tbody tr:hover {
    background-color: #e1e7ea;
}

.planned-table {
    width: 70%;
    border: 1px solid;
    max-height: 190px; /* Set the maximum height to 140px */
    overflow-y: auto; /* Add vertical scrollbar when needed */
    border-radius: 4px;
    margin-right: 10px;
}

.planned-thead {
    width: 100%;
    position: sticky;
    top: 0;
}


/* current */
.planned {
    position: fixed;
    margin-top: 60px;
    margin-left: 6px;
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-height: 194px;
    overflow: hidden;
    background-color: #fff;
    z-index: 2;
}

.razvozki-thead {
    position: sticky;
    top: 59px;
    z-index: 2;
    padding: 6px;
}


.table-container {
    max-height: 140px; /* Set the maximum height to 140px */
    overflow-y: auto; /* Add vertical scrollbar when needed */
}


.current {
    margin-top: 236px;
    margin-left: 6px;
    width: 99%;
}

.current-pure {
    margin-top: 59px;
}


.icon-list {
    list-style: none;
    column-count: 3;
    height: 160px;
}

.icon-list li {
    page-break-inside: avoid;
    break-inside: avoid;
    margin-top: 4px;
}

.icon-img {
    align-self: end;
    margin: 0px 2px;
    vertical-align: bottom;

}

.title-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px 22px 0px;
}

/* Not printable elements*/
@media print {
    @page {
        size: A4 landscape;
        margin: 0;
    }

    body {
        margin: 1.6cm;
    }

    .no-print, .no-print * {
        display: none !important;
    }
}