/* Стили для модального окна входа*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    padding: 4px;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
    background-color: #293d32;
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 16px;
    border: 1px solid #888;
    width: 700px;
    border-radius: 8px;
}

.modal-content-md {
    width: 460px;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-input {
    font-size: inherit;
    border-radius: 4px;
    padding: 6px;
    margin: 6px;
}

.modal-id {
    max-width: 20%;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 8px;
}

.input-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-line-left {
    justify-content: start;
    margin-top: 12px;
}



.customer {
    display: flex;
    flex-direction: column;
    min-width: 72%;
}

.customer-id {
    display: flex;
    flex-direction: column;
    max-width: 28%;
}

/* Dropdown styles*/
/* Dropdown Button */
.btn-dropdown {
    cursor: pointer;
    align-self: end;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #e1e7ea;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    background-color: #fff;
}

/* Links inside the dropdown */
.dropdown-content li {
    color: black;
    padding: 4px 6px;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {
    background-color: #e1e7ea;
}

.check-input {
    display: flex;
    flex-direction: column;
    line-height: 22px;
}

.show {
    display: block;
}
