/* Стили для модального окна входа*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
    padding: 4px;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
    background-color: #293d32;
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 16px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 8px;

}
