{% extends 'header.html' %}
{% load static %}
{% block title %}машины{% endblock %}
{% block content %}
    {% if request.user.is_superuser %}
        <br><br> <br>
        <h2>Перенос из версии 3.0</h2>
        <br>
        <div class="">
            <form action="{% url 'razv4_0:admin_import' %}">
                {% csrf_token %}
                <button class="btn-submit submit-neg" type="submit">Перенос данных из версии 3.0</button>
                <p>
                    импорт баз: в <strong>ImportCustomer</strong> из файла customer.sql, в
                    <strong>ImportRazvozka</strong> из файла razvozka.sql, в <strong>Driver</strong> из файла driver.sql
                </p>
                <p>
                    Удаление старых баз и импорт данных из <strong>ImportCustomer</strong> и
                    <strong>ImportRazvozka</strong>
                </p>
            </form>
        </div>
        <br>

    {% else %}
        <h1 class="auth-required">Недостаточно прав</h1>
    {% endif %}

    <script src="{% static 'razvozki4_0/js/main.js' %}"></script>

{% endblock %}