{% extends 'header.html' %}
{% load static %}
{% block title %}машины{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="current current-pure">
            <table id="render" class="table cust-table">
                <thead class="razvozki-thead">
                <tr>
                    <th>код</th>
                    <th>описание</th>
                    <th>телефон1</th>
                    <th>телефон2</th>
                    <th>номер машины</th>
                    <th>значок</th>
                    <th class="drv-modal">
                        <button type="button" class="btn-submit submit-neg btn-bg">добавить</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for drv in drivers %}
                    <tr class="drv-modal" data-id="{{ drv.id }}">
                        <td>{{ drv.code }}</td>
                        <td><strong>{{ drv.description }}</strong></td>
                        <td>{{ drv.phone1 }}</td>
                        <td>{{ drv.phone2 }}</td>
                        <td>{{ drv.car_no }}</td>
                        <td><img src="{% static drv.icon_code %}" alt="drv icon"></td>
                        <td onclick="event.stopPropagation()" data-title="Удалить"
                            class="title-icon">
                            <a href="{% url 'razv4_0:driver_delete'  drv.id %}">
                                <button type="button" class="btn-delete btn-bg"
                                        onclick="">удалить
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
        <h1 class="auth-required">требуется вход</h1>
    {% endif %}
    {#    driver Modal #}
    <div id="driverModal" class="modal">
        <div class="modal-content">
            <form method="post" action="{% url 'razv4_0:driver_update' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <p id="modal-title">Редактировать</p>
                    <span class="close">&times;</span>
                </div>
                <input name="drv_id" type="text" id="drv_id" hidden>
                <div class="modal-body">
                    <div>
                        <ul class="modal-input icon-list" id="icon">
                            {% for icon in driver_icons %}
                                <li>
                                    <input type="radio" class="{{ icon.icon_url }}"
                                           id="chk-{{ icon.id }}" name="chk" value="{{ icon.icon_url }}">
                                    <label for="chk-{{ icon.id }}"><img src="{% static icon.icon_url %}" alt="icon"
                                                                        class="icon-img"><strong>{{ icon.description }}
                                    </strong></label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <label for="code"><strong>код</strong></label>
                    <input name="code" id="code" class="modal-input" size="2" required>
                    <label for="description"><strong>описание</strong></label>
                    <input name="description" id="description" class="modal-input" size="100" required>
                    <label for="phone1"><strong>телефон 1</strong></label>
                    <input name="phone1" id="phone1" class="modal-input" size="12">
                    <label for="phone2"><strong>телефон 2</strong></label>
                    <input name="phone2" id="phone2" class="modal-input" size="12">
                    <label for="car_no"><strong>номер машины</strong></label>
                    <input name="car_no" id="car_no" class="modal-input" size="9">
                    <input name="icon_code" id="icon_code" type="text" hidden class="modal-input" size="255">
                </div>
                <div class="modal-buttons">
                    <button type="reset" class="btn-delete close">Отменить</button>
                    <button type="submit" class="btn-submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'razvozki4_0/js/main.js' %}"></script>
    <script src="{% static 'razvozki4_0/js/driver.js' %}"></script>

{% endblock %}